
body {
    background-image: url("https://jadyn-cleary.github.io/background.png");
    background-repeat: repeat;
  }
  
  h1 {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    font-size: 75px;
    margin: 0px;
    line-height: -20px;
  }
  h2 {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center; 
    font-size: 50px;
    margin: 0px;
    line-height: -20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    grid-gap: 50px;
  }