
body {
    background-color: #add8e6;
  }
  
  h1 {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    font-size: 75px;
    margin: 0px;
    line-height: -20px;
  }
  h2{
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 0px;
    line-height: -20px;
  }