
body {
    background-color: #add8e6;
  }
  
  h1 {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    font-size: 75px;
    margin: 0px;
    line-height: -20px;
  }

  /*This code snipit was found at https://www.geeksforgeeks.org/flip-the-text-using-css/ */
        span {
            display: Inline-block;
            margin: 50px;
        }
          
        .flip {
            transform: scale(1, -1);
            color: #000080;
            -moz-transform: scale(1, -1);
            -webkit-transform: scale(1, -1);
            -o-transform: scale(1, -1);
            -ms-transform: scale(1, -1);
            transform: scale(1, -1);
        }